#footer #footer-bottom {
    display: flex;
}

#footer #footer-below-line {
    display: flex;
    justify-content: space-between;
}

#footer #footer-below-line a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

#footer-bottom #socail-acc a,
#footer-bottom #socail-acc p {
    padding-left: 80px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-top: -10px;
    line-height: 0.6;
    margin-left: -46px;
}
#footer-bottom #socail-acc .img {
    margin-top: 17px;
    margin-left: 27px;
    line-height: 2.6;
    font-weight: 600;
}
#footer-align {
    display: flex;
    justify-content: space-between;
}
#footer-align #app-btns{
    /* margin-left: 50x; */
}
.footer-links:hover{
    /* font-size: 8px; */
    font-weight: 550;
}

#copy-rights {
    background-color: #e8e3e3;
}

#footer {
    background-color: #f7f7f7;
}

#footer strong {
    font-weight: 600;
    font-size: medium;
}

#footer p {
    font-size: 15px;
}
.input-sub{
    height: 40px;
    padding: 10px;
}
.input-sub:focus{
    outline: none;
}
.subtn{
    height: 40px;
    border: none;
    border-radius: 0;
    background-color: #e72e77;
    color: white;
}
.footer-btns .onee{
    border: 1px solid #e72e77;
    /* background-color: #e72e77; */
}
.footer-btns .twoo{
    border: 1px solid #03b2cb;
    /* background-color: #03b2cb; */
}
.footer-btns .onee:hover{
    background-color: #e72e77;
    color: white;
    transition: 0.6s ease;
}
.footer-btns .twoo:hover{
    background-color: #03b2cb;
    color: white;
    transition: 0.6s ease;
}
#app-btns img{
    margin: 3px;
    cursor: pointer;
}