.blog-img img {
    width: 100%;
    height: 90%;
}

.blog-headding h3 {
    font-family: Playfair Display, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-size: 30px;
    line-height: 1.33;
    font-style: normal;
    position: relative;
    padding-bottom: 5px;
    text-align: left;
    color: rgb(74, 74, 74);
}

.blog-headding p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    color: rgb(74, 74, 74);
    font-stretch: normal;
    letter-spacing: normal;
}

.blog-intro #blog-links a {
    text-decoration: none;
    list-style-type: disc;
    color: #e72e77;
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    line-height: 48px;
    font-weight: 400;
}

.blog-intro #blog-links {
    display: flex;
    /* justify-content: space-between; */
    line-height: 26px;
}

.artical-search input[type='text'] {
    border: none;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.artical-search input[type='text']:focus {
    outline: none;
}

.article-data {
    max-width: 500px;
    text-align: center;
}

.article-data h4 {
    color: #4a4a4a;
    margin-top: 30px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    font-family: Playfair Display;
}

.article-data .discrp {
    color: #909090;
    margin-top: 30px;
    font-size: 15px;
    max-width: max-content;
}

.article-adds img {
    width: 200px;
    margin-bottom: 60px;
}

.wed-guides {
    width: 1450px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 60px;
    line-height: 1vw;
}

.wed-guides h3 {
    color: #000;
    position: relative;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    font-family: 'Courier New', Courier, monospace;
}

.wed-guides img {
    margin-right: 26px;
}

.guides {
    background-color: #ececec;
    height: 80vh;
}

.guide-search {
    width: 1320px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 113px;

    border: 2px solid #e72e77;
}

.wed-guides button {
    /* padding: 10px 40px 10px 40px; */
    height: 50px;
    width: 200px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 100px;
    background-color: rgb(231, 46, 119);
    border: 1px solid rgb(231, 46, 119);
    position: relative;
    bottom: -40px;
    margin-left: 82px;
}

.guide-search h4 {
    position: relative;
    top: -34px;
    background-color: white;
    width: 840px;
    margin-left: 282px;
}

.socail-acc-handle {
    margin-top: 60px;
    background-image: url("https://image.wedmegood.com/images/bg-instagram.jpg");
    height: 35vh;
    align-items: center;
    text-align: center;
}

.socail-acc-text {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    font-family: Helvetica !important;
    color: white;
    position: relative;
    top: 60px;
}

.socail-acc-handle button {
    position: relative;
    top: 60px;
    border: none;
    width: 130px;
    background-color: white;
    padding: 13px 40px;
    border-radius: 23px;
}

.app-details {
    margin-left: 70px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.app-details h1 {
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;
    font-family: 'emoji';
}

.app-details h3 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 200;
    margin-top: 20px;
    font-family: ui-serif;
}

.generate-app-link {
    border: 1px solid rgb(201, 199, 199);
    width: 450px;
    height: 26vh;
    line-height: 1.6;
    padding: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.generate-app-link input[type=number] {
    width: 390px;
    border: 1px solid rgb(224, 224, 224);
    -moz-appearance: textfield;
}

.generate-app-link input[type="number"]:focus {
    outline: none;
}

.generate-app-link button {
    width: 400px;
    height: 40px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 100px;
    background-color: rgb(231, 46, 119);
    border: 1px solid rgb(231, 46, 119);
    position: relative;
}

.feature-WMG {
    text-align: center;
    display: flex;
    height: 50vh;
    background-size: cover;
}

.feature-WMG .left {
    width: 100%;
    background-image: url("https://image.wedmegood.com/images/submit-wedding-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.feature-WMG .left button {
    width: 250px;
    padding: 13px 40px;
    border-radius: 23px;
    color: #e72e77;
    border: none;
}

.feature-WMG .right {
    width: 100%;
    background-image: url("https://image.wedmegood.com/images/subscribe-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.feature-WMG .right button {
    width: 200px;
    padding: 8px 20px;
    border-radius: 23px;
    color: white;
    background-color: #e72e77;
    border: none;
}

.feature-WMG .right input {
    padding: 0px 10px 0px 10px;
    margin-bottom: 10px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    width: 300px;
}

.feature-WMG .right input::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
    /* Firefox */
}

.feature-WMG .right input:focus {
    outline: none;
}